{% extends "base.html.twig" %}

{% block title %}Me{% endblock %}

{% block body %}
    <main class="main">
    <h1>Om mig</h1>
    <figure class="figure right">
        <img src="{{ asset('img/minbild.jpg') }}" alt="" width= "150px";>
    </figure>
    <p>Jag heter Hatice Kekic. Jag är 33 år gammal och bor i Malmö med min familj. Jag är gift och har två barn som är 2 och 5 år gamla.</p>
    <p>Jag jobbar i ett mikrobiologiskt laboratorium som leg. biomedicinsk analytiker.
    Jag jobbar där i ett säkerhetslab och analyserar prover för att ta reda på förekomst av mycobakterier som bland annat kan orsaka Tuberculos.
    Jag har ett jättespännande jobb men det kändes aldrig rätt. Jag visste att jag har gjort fel yrkesval men jag fortsatte jobba och hade inte funderingar på att byta yrke tills jag började intressa mig för programmering.
    Jag har alltid varit intresserad av matte och problemlösning.
    Nu när jag programmerar känner jag som att jag har hittat rätt.</p>
    <p>Det här är min sjunde kurs i webbprogrammering utbildningen. Eftersom jag jobbar både 100% och har två små barn, så har det blivit väldigt tufft med en utbildning på 100% också. Så jag har varit sen med mina inlämningar.
    Men det är väldigt roligt och lärorikt. Jag älskar programmera och problemlösa.</p>
    </main>
{% endblock %}
