{% extends "base.html.twig" %}

{% block title %}Report{% endblock %}

{% block body %}
    <h1>Report</h1>
    <p>I den här sidan redovisar jag hur det har gått för mig med dem olika kursmomenten.</p>

    <div class="two-col-layout">
        <aside class="aside">
            <h3>Kursmomenten</h3>
            <ul>
                <li><a href="#kmom01">kmom01</a></li>
                <li><a href="#kmom02">kmom02</a></li>
                <li><a href="#kmom03">kmom03</a></li>
                <li><a href="#kmom04">kmom04</a></li>
                <li><a href="#kmom05">kmom05</a></li>
                <li><a href="#kmom06">kmom06</a></li>
                <li><a href="#kmom10">kmom10</a></li>
            </ul>
        </aside>

    <main class="main">
        <article class="article">
            <header>
                <h1>Redovisning av kursmoment</h1>

                <h2 id="kmom01">kmom01</h2>
                <p>Jag har inte så mycket förkunskaper och erfarenheter i objektorientering. Vi har jobbat med objektorientering i oopython kursen. Men eftersom jag prioriterade andra inlämningar så har jag endast gjort dem 2 första kmomen där.
                Så snart fortsätta göra klart den kursen.</p>
                <p>Man använder klasser och objekt i PHP för att kunna återanvända sin kod. I klassen kan man ha metoder och variabler. Där man kan bygga datastruktur och åtgärder som man använder sen för sin objekt.
                När man sedan använder objektet, kan man få fram resultat. På det sätt blir koden mycket effektivare och man slipper skriva om samma kod i liknande uppgifter. Man använder sig av objekten då istället.</p>
                <p>I en klass så använder man sig av variabler som kallas för properties och metoder. Man kan välja att ha sin variabel som public eller privat. Public ska man föredra om man vill kunna ändra värdet där senare i objektet.
                I metoden kan man bygga upp och struktuera sin kod.</p>
                <p>Jag upplevde uppgiften som lätt då Mikael har redan gått igenom det mesta i sin föreläsning. Att bygga upp koden var inte heller särskilt svår.
                Jag har endast lite svårt att förstå alla filer man behöver ha. Men själva uppgiften var lätt.</p>
                <p>Jag har börjat med att läsa lite "PHP The Right Way". Jag har funnit Namespaces delen intressant än så länge. Där att man skulle ha kunna samma klassnamn i olike filer, så länge namespaces visar olika operatorsystem direktion.
                Vilket är utmärkt när olika utvecklare använder koden och råkar ha samma klassnamn. Namespaces löser det problemet. Jag har inte läst igenom hela dokumentet ännu.
                Men kollade igenom lite. Det ser ut som en uppslagsbok där man kan gå tillbaka och se hur man gör saker och ting. Jag kommer definitivt läsa mer igenom. Särskilt de olika koderna som finns där, kommer jag granska, troligen det kapitlet som passar den kmomen som man jobbar med.</p>
                <p>Min TIL för detta kursmoment var att bekanta mig med Symfony och objektorienterad PHP.</p>

                <h2 id="kmom02">kmom02</h2>
                <p>Text.. </p>

                <h2 id="kmom03">kmom03</h2>
                <p>Text.. </p>

                <h2 id="kmom04">kmom04</h2>
                <p>Text.. </p>

                <h2 id="kmom05">kmom05</h2>
                <p>Text.. </p>
    
                <h2 id="kmom06">kmom06</h2>
                <p>Text.. </p>
    
                <h2 id="kmom10">kmom10</h2>
                <p>Text.. </p>

            </header>
        </article>

    </main>

</div>

{% endblock %}
